.ant-carousel .slick-slide {
    text-align: center;
  
    background: #BFBFBF;
    overflow: hidden;
  }
  .size-icon{
    font-size: 24px;
  }
  .img-carousel {
    width: 700px;
    padding: .25rem;
    background-color: #fff;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
  }
  .slick-prev, .slick-next {
    font-size: 15px !important;
  }
  
   /* .slick-prev:before, .slick-next:before  {
    content: '' !important;
  } */
  .slick-prev:before,
  .slick-next:before {
    color: #D7D7D7 !important;
  }
  .slides {
    position: relative;
  
  }
  
  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index:1;
  }
  
  .slides .slick-prev {
    left: 1%;
  }
  
  .slides .slick-next {
    right: 1%;
  }
  
  .sale{
    background-color: #D7D7D7;
    border-radius: 10px;
  }
  .sale > div{

    font-size: 24px;
    font-weight: 400;
  }
.light-gray{
  background-color: #ecedef;
}
.wrapper{
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 24px;
}
.wrapper > a {

}

.wrapper:hover{
  border: 1px solid;
  cursor: pointer;
  font-weight: 600;
}


.hand-pointer{
  cursor: pointer;
}
.back{
  font-size: 14px;
  line-height: 18px;
}
.text-title-carousel {
  color: black; font-family: 'Righteous', cursive; font-size: 2.2vw; font-weight: normal; text-transform: uppercase; text-shadow: 2px 2px 0 #000;
}
.text-carousel {
  font-family: 'Enriqueta', arial, serif; line-height: 1.25;  font-size: 2.2vw; font-weight: lighter;
}
.silde-border {
 
}
.price-carousel{
  font-family: Roboto Condensed,sans-serif;
  font-size: 1.7vw;
  color: #343434;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .sale > div{
    font-size: 20px;
    font-weight: 400;
  }
  .text-title-carousel {
    color: black; font-family: 'Righteous', cursive; font-size: 2.2vw; font-weight: normal; text-transform: uppercase; text-shadow: 0.5px 0.5px 0 #000;
  }
}