.body {
    padding: 20px 100px 100px 100px;
}

.div-body-color {
    background: rgb(251	251	251	);
    padding: 10px;
}

.form {
    color: grey;
}

.text-box {
    border-radius: 0;
}

.button {
    background: black;
    border-radius: 0;
}