.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 300px;
  }
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .grid-container{
    display: grid;
    grid-template-areas: 'filter list list'; 
  }
  .grid-breadcums{
    grid-area: breadcums;
    background-color: white;
  }
  .grid-filter{
    grid-area: filter;
    background-color: white;
  }
  .grid-list{
    grid-area: list;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: black !important; 
    border-color: black !important;
  }
  .grid-filer-container {
    display: grid;

    grid-template-areas:  'breadcums' 'filters'; 
  }
.ant-checkbox-wrapper:hover .ant-checkbox-inner{
  border-color: black !important;
}
.ant-btn .ant-btn-circle input:checked{
  background-color: black;
}
.ant-layout-sider-zero-width-trigger{
  z-index: 1 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}